.sliderContainer {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 120px;
  //max-width: 200px;

  .sliderControls {
    position: absolute;
    top: 85%;
    left: 55%;

    button {
      width: 24px;
      height: 24px;
      border: none;
      margin: 1px;
      background: rgba(0, 0, 0, 0.73);
      color: white;

    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}