.sliderContainer {
  width: 100%;
  height: 100%;
  position: relative;

  .sliderControls {
    position: absolute;
    top: 85%;
    left: 60%;

    button {
      border: none;
      margin: 1px;
      background: rgba(0, 0, 0, 0.73);
      color: white;

    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}