.itemContainer {
  height: 100%;
  min-width: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
  }
}

.inActive {
  color: #1d1f22;
}
.active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}
